* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: arial;
}

a {
    text-decoration: none;
    color: #000;
}

header {
    margin-top: 20px;
}

nav .conteudo_direita {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 16px;
    padding-right: 20px;
    padding-top: 5px;
}

.conteudo_direita .conteudo_1, .conteudo_2, .conteudo_3, .conteudo_4 {
    padding-right: 20px;
    padding-left: 20px;  
    cursor: pointer;
}

.conteudo_4 {
    border-radius: 50%;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 70px;
    height: 100%;
}

.conteudo_principal {
    display: flex;
    flex-direction: column;
}

.conteudo_orincipal .logo {
    margin-bottom: 30px;
    
}

.input {
    display: flex;
    border: 1px solid #cfcbcb;
    border-radius: 50px;
    width: 600px;
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    font-size: 15px;
    margin-top: 50px;
    cursor: pointer;
}

input {
    border: none;
    margin-left: 20px;
    outline: 0;
    border-radius: 50px;
    font-size: 15px;
    width: 510px;
    cursor: pointer;
}

.input:hover {
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    border-radius: 50px;
    transition: all;
}

.acess {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    
}

.acess img {
    cursor: pointer;
    margin-right: 10px;
}

#url {
    text-align: center;
}

.botao button {
    padding: 10px 16px 10px 16px;
    margin: 30px 10px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #fff;
    color: #4b4949;
    cursor: pointer;
}

.botao button:hover {
    border: 1px solid #dadada;
    box-shadow: 0px 1px 0px #ccc;

}

footer {
    display: flex;
    flex-direction: column;
    color: #000;
    background-color: #f2f2f2;
}

.footer_header {
    border-top: 1px solid #f2f2f2;
    line-height: 40px;
    min-width: 980px;
    font-size: 18px;
    color: #4b4949;
    margin-top: 58px;
    padding-left: 24px;
}

.footer_opçoes {
    padding-top: 20px;
    padding-left: 28px;
    border-top: 1px solid #e4e4e4;
    line-height: 40px;
}

span a {
    color: #4b4949;
    font-family: 14px;
}

span a:hover {
    text-decoration: underline;
}

.span_esquerda {
    float: left;
}

.span_direita {
    float: right;
}

.span_direita a,
.span_esquerda a {
    margin-left: 30px;
}